<<<<<<< HEAD
=======
/* ============= */
.inputContainer {
  display: flex;
  justify-content: center;
}

.inputLabel {
  margin-right: 5px;
}

.todoList {
  text-align: left;
  display: inline-block;
}

.listItemContent {
  list-style-type: square;
  display: flex;
  gap: 5px;
  align-items: center;
}
>>>>>>> df1d08963c914cba70940bd8c4017b886f4df526
